@import "./common.scss";

// Global
$primary-color: #6975C9;
$component-background: #fff;
$text-color: #333;
$text-color-secondary: #999;
$border-color: #E2E6ED;
$border: 1px solid $border-color;
$box-shadow: 0 2px 12px $border-color;
$border-focus:1px solid #6975C9;
$themeColor: #6975C9;
$themeActiveColor: #6975C9;
$themeDisableColor: #8990bd;